.item {
    padding: 5px;
    width: calc((300px - 5px) / 5);
    text-align: center;
    background-color: #fff;
    color: #000000;
    border-radius: 20%;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.percentage {
    display: block;
    font-size: 14px;
    font-weight: 700;
}