.description {
    padding: 10px;
    text-align: center;
}

.avatar {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    border-radius: 50%;
    background-color: #dfdfdf;
}

.name {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
}

.tag {
    margin-bottom: 10px;
    color: #363636;
}

.location {
    color: #363636;
}